<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Templates - DNSimple API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/assets/bootstrap/js/bootstrap.js"></script>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">DNSimple API</a>
          <ul class="nav">
            <!-- <li class="active"><a href="/">Home</a></li> -->
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span9">
          <h1 id="template-api">Template API</h1>

<p>Templates provide a way to group common records together and apply them en masse to a domain.</p>

<ul id="markdown-toc">
<li><a href="#list-templates">List templates</a></li>
  <li><a href="#get-a-template">Get a template</a></li>
  <li><a href="#create-a-template">Create a template</a></li>
  <li><a href="#delete-a-template">Delete a template</a></li>
</ul><h2 id="list-templates">List templates</h2>

<pre><code>GET /templates
</code></pre>

<h3 id="example">Example</h3>

<pre><code>curl  -H 'X-DNSimple-Token: &lt;email&gt;:&lt;token&gt;' \
      -H 'Accept: application/json' \
      https://dnsimple.com/templates
</code></pre>

<h3 id="response">Response</h3>

<pre><code class="language-js"><span class="p">[</span>
  <span class="p">{</span>
    <span class="s2">"dns_template"</span><span class="o">:</span> <span class="p">{</span>
      <span class="s2">"name"</span><span class="o">:</span> <span class="s2">"Example"</span><span class="p">,</span>
      <span class="s2">"created_at"</span><span class="o">:</span> <span class="s2">"2010-09-30T20:01:55Z"</span><span class="p">,</span>
      <span class="s2">"updated_at"</span><span class="o">:</span> <span class="s2">"2010-09-30T20:01:55Z"</span><span class="p">,</span>
      <span class="s2">"id"</span><span class="o">:</span> <span class="mi">31</span><span class="p">,</span>
      <span class="s2">"user_id"</span><span class="o">:</span> <span class="mi">1</span><span class="p">,</span>
      <span class="s2">"short_name"</span><span class="o">:</span> <span class="s2">"example"</span><span class="p">,</span>
      <span class="s2">"description"</span><span class="o">:</span> <span class="s2">"An example of a template."</span>
    <span class="p">}</span>
  <span class="p">}</span>
<span class="p">]</span></code></pre>

<h2 id="get-a-template">Get a template</h2>

<pre><code>GET /templates/:id
</code></pre>

<h3 id="example-1">Example</h3>

<pre><code>curl  -H 'X-DNSimple-Token: &lt;email&gt;:&lt;token&gt;' \
      -H 'Accept: application/json' \
      https://dnsimple.com/templates/:id
</code></pre>

<h3 id="response-1">Response</h3>

<pre><code class="language-js"><span class="p">{</span>
  <span class="s2">"dns_template"</span><span class="o">:</span> <span class="p">{</span>
    <span class="s2">"name"</span><span class="o">:</span> <span class="s2">"Example"</span><span class="p">,</span>
    <span class="s2">"created_at"</span><span class="o">:</span> <span class="s2">"2010-09-30T20:01:55Z"</span><span class="p">,</span>
    <span class="s2">"updated_at"</span><span class="o">:</span> <span class="s2">"2010-09-30T20:01:55Z"</span><span class="p">,</span>
    <span class="s2">"id"</span><span class="o">:</span> <span class="mi">31</span><span class="p">,</span>
    <span class="s2">"user_id"</span><span class="o">:</span> <span class="mi">1</span><span class="p">,</span>
    <span class="s2">"short_name"</span><span class="o">:</span> <span class="s2">"example"</span><span class="p">,</span>
    <span class="s2">"description"</span><span class="o">:</span> <span class="s2">"An example of a template."</span>
  <span class="p">}</span>
<span class="p">}</span></code></pre>

<h2 id="create-a-template">Create a template</h2>

<pre><code>POST /templates
</code></pre>

<h3 id="example-2">Example</h3>

<pre><code>curl  -H 'X-DNSimple-Token: &lt;email&gt;:&lt;token&gt;' \
      -H 'Accept: application/json' \
      -H 'Content-Type: application/json' \
      -X POST \
      -d '&lt;json&gt;' \
      https://dnsimple.com/templates
</code></pre>

<h3 id="input">Input</h3>

<p>The following fields are required:</p>

<ul>
<li><code>dns_template[name]</code></li>
  <li><code>dns_template[short_name]</code></li>
</ul><p>The following fields are optional:</p>

<ul>
<li><code>dns_template[description]</code></li>
</ul><pre><code class="language-js"><span class="p">{</span>
  <span class="s2">"dns_template"</span><span class="o">:</span> <span class="p">{</span>
    <span class="s2">"name"</span><span class="o">:</span> <span class="s2">"My Template"</span><span class="p">,</span>
    <span class="s2">"short_name"</span><span class="o">:</span> <span class="s2">"my_template"</span> 
  <span class="p">}</span>
<span class="p">}</span></code></pre>

<h3 id="response-2">Response</h3>

<pre><code class="language-js"><span class="nx">TODO</span></code></pre>

<h2 id="delete-a-template">Delete a template</h2>

<pre><code>DELETE /templates/:id
</code></pre>

<h3 id="example-3">Example</h3>

<pre><code>curl  -H 'X-DNSimple-Token: &lt;email&gt;:&lt;token&gt;' \
      -H 'Accept: application/json' \
      -H 'Content-Type: application/json' \
      -X DELETE \
      https://dnsimple.com/templates/:id
</code></pre>

<h3 id="response-3">Response</h3>

<pre><code class="language-js"><span class="nx">TODO</span></code></pre>
        </div>
        <div class="span3">
          <h4>Introduction</h4>
<ul class="nav nav-list">
  <li><a href="/overview/">Overview</a></li>
  <li><a href="/libraries/">Libraries</a></li>
  <li><a href="/tools/">Tools</a></li>
</ul>

<h4>Resources</h4>
<ul class="nav nav-list">
  <li><a href="/domains/">Domains</a></li>
  <li><ul class="nav nav-list">
  <li><a href="/domains/operations/">Operations</a></li>
  <li><a href="/domains/autorenewal/">Autorenewal</a></li>
  <li><a href="/domains/sharing/">Sharing</a></li>
  <li><a href="/domains/records/">Records</a></li>
  <li><a href="/domains/nameservers/">Name Servers</a></li>
  <li><a href="/domains/vanity-nameservers/">Vanity Name Servers</a></li>
  <li><a href="/domains/privacy/">WHOIS Privacy Protection</a></li>
  <li><a href="/domains/certificates/">SSL Certificates</a></li>
  <li><a href="/domains/forwards/">Email Forwards</a></li>
  </ul></li>
  <li><a href="/contacts/">Contacts</a></li>
  <li><a href="/services/">Services</a></li>
  <li><ul class="nav nav-list">
  <li><a href="/services/applied/">Applications</a></li>
  </ul></li>
  <li><ul class="nav nav-list">
  <li><a href="/templates/">Templates</a></li>
  <li><a href="/templates/records/">Records</a></li>
  <li><a href="/templates/applied/">Applications</a></li>
  </ul></li>
  <li><a href="/extended-attributes/">Extended Attributes</a></li>
  <li><a href="/users/">Users</a></li>
  <li><a href="/subscriptions/">Subscriptions</a></li>
  <li><a href="/statements/">Statements</a></li>
</ul>

        </div>
      </div>
    </div>

    <footer class="container">
      Copyright © 2012 Aetrion LLC.
    </footer>

  </body>
</html>
